@keyframes paul {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}
@keyframes pauldeux {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-180deg);
    }
}

@keyframes jean {
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(180deg) rotateY(-180deg);
    }
}
@keyframes jeandeux {
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(180deg) rotateY(180deg);
    }
}

@keyframes magalie {
    from{
        transform: scale(1) rotate(0deg);
    }
    to{
        transform: scale(.5) rotate(90deg);
        width: 0; height: 0;
    }
}
@keyframes magaliedeux {
    from{
        transform: scale(1) rotate(0deg);
    }
    to{
        transform: scale(.5) rotate(-90deg);
        width: 0; height: 0;
    }
}

@keyframes mohamed {
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(180deg) rotateY(0deg);
    }
}
@keyframes mohameddeux {
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(0deg) rotateY(180deg);
    }
}

@keyframes sandrine {
    from{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(90deg) scale(.25);
    }
    to{
        transform: rotate(180deg) scale(1);
    }
}
@keyframes sandrinedeux {
    from{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(-90deg) scale(.25);
    }
    to{
        transform: rotate(-180deg) scale(1);
    }
}