@keyframes paul {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}
@keyframes pauldeux {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-180deg);
    }
}

@keyframes jean {
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(180deg) rotateY(-180deg);
    }
}
@keyframes jeandeux {
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(180deg) rotateY(180deg);
    }
}

@keyframes magalie {
    from{
        transform: scale(1) rotate(0deg);
    }
    to{
        transform: scale(.5) rotate(90deg);
        width: 0; height: 0;
    }
}
@keyframes magaliedeux {
    from{
        transform: scale(1) rotate(0deg);
    }
    to{
        transform: scale(.5) rotate(-90deg);
        width: 0; height: 0;
    }
}

@keyframes mohamed {
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(180deg) rotateY(0deg);
    }
}
@keyframes mohameddeux {
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(0deg) rotateY(180deg);
    }
}

@keyframes sandrine {
    from{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(90deg) scale(.25);
    }
    to{
        transform: rotate(180deg) scale(1);
    }
}
@keyframes sandrinedeux {
    from{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(-90deg) scale(.25);
    }
    to{
        transform: rotate(-180deg) scale(1);
    }
}

@keyframes francine {
    from{
        transform: rotateX(0deg) rotateY(90deg) scale(1);
    }
    to{
        transform: rotateX(360deg) rotateY(450deg) scale(1);
    }
}
@keyframes francinedeux {
    from{
        transform: rotateX(-180deg) rotateY(0deg) scale(1);
    }
    to{
        transform: rotateX(180deg) rotateY(45deg) scale(1);
    }
}

@keyframes satia {
    from{
        width: 100%; height: 100%;
        border-color: rgba(0, 0, 0, 0);
    }
    to{
        width: 0; height: 0;
        transform: rotate(-180deg);
    }
}
@keyframes satiadeux {
    from{
        width: 0; height: 0;
    }
    to{
        width: 100%; height: 100%;
        border-color: rgba(0, 0, 0, 0);
        transform: rotate(180deg);
    }
}